<div class="cardList">

    <ng-container *ngFor="let card of comics">
        <mat-card class="example-card">

            <mat-card-content>
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{card.name}}</mat-card-title>
                </mat-card-header>



                <img mat-card-image [src]="card.picture">



                <mat-card-content>
                    <p>
                        {{card.description}}
                    </p>
                    
                </mat-card-content>
                <mat-card-actions>

                    <button mat-raised-button color="primary" (click) = "openDialog(card)">${{card.amount}}</button>
                    
        

                </mat-card-actions>
            </mat-card-content>
        </mat-card>
    </ng-container>

</div>
<mat-divider></mat-divider>